@charset "UTF-8";

header {
	margin-bottom: 20px;
}
#headerCon {
	background-color: #25378e;
}


/*General rules here for elements*/
body {
		background-color:#25378e; 
}



/*Header and Nav*/

#mainNav {
	float: left; 
	margin-top: 15px;

}

#mainNav  li a {
	color: white;
	margin-right: 20px;
}

#mainNav  li a:hover {
	color: #011e41;
}

#indexPage{
	background: url(../images/banner.jpg);
}

#logo h1{
	font-family: font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color:#e6e265;
	text-align: center; 
	margin-top: 15px;
}

.button {
	display: block;
	width: 100px;
	padding: 15px;
	color: #FFF;
	background-color: #dd2c1a;
	text-align: left;
	margin-top: 20px;
	font-size: 14px;
	margin-bottom: 50PX;
	float: right;
}

.resBut:hover
{
	background-color: #9f3224;
}

#title p {
	font-family: font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color:#fff;
	float: right;
	text-align: left; 
	margin-top: 15px;
	margin-left: 30px;
}

#title p span {
	color: #dd2c1a;
}


#aboutPage{
	background: #fff;
}

#aboutPage h2 {
	font-family: font-family: 'Raleway', sans-serif;
	font-size: 40px;
	color:#25378e;
	text-align: center; 
	margin-top: 30px;
}

#about{
	overflow: hidden;
}

#about img {
	height:300px;
	width: 300px;
}

#about p{
	font-family: font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 24px;
	color: #011e41;
	text-align: center;
}

#hobbies img{
	width: 150px;
	height: 150px;
}

#skillPage {
	background-color: #011e41;
}

#skillPage h3{
	font-family: font-family: 'Raleway', sans-serif;
	font-size: 48px;
	color: #fff;
	text-align: center;
}

#skill {
	margin-top: 100px;
}

#skill img {
	width: 100px;
	height: 100px;
}

#skill p {
	font-family: font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 20px;
	color: #e6e265;
	text-align: center;
	margin-top: 25px;
}

#portfolioPage {
	background-color: #fff;
}

#portfolioPage h1 {
	font-family: font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color:#25378e; 
	text-align: center;
}

#portfolioPage p{
	font-family: font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 30spx;
	color:#25378e; 
	text-align: center;
}

#portfolio {
	margin-top: 30px;
}

#portfolio img {

}

#lo {
	margin-top: 20px;
}

#lo img {
	float: center;
}

#website {
	margin-top: 20px;
}

#website img {
	float: center;
}

video{width:700px; }


#contactPage {
	background-color: #e6e265;
}

#contactPage h5 {
	font-family: font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color:#25378e;
	text-align: center; 
}

#contact h6{
	font-family: font-family: 'Raleway', sans-serif;
	font-size: 40px;
	color:#011e41;
	text-align: center; 
}

#contact p {
	font-family: font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 24px;
	color: #011e41;
	text-align: center;
}

#contact ul {
	list-style-type: none;
}

#contact ul li {
	display: inline;
	cursor: pointer
}

#contact ul li a img {
	width: 60px;
	height: 60px;
	margin-right: 35px;
}

#le {
	margin-top: 29px;
}

.footerpage {
	background-color: #fff;
}

.footerpage p {
	font-family: font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 18px;
	color: #011e41;
	text-align: center;
}

@media screen and (min-width:25em){
	#indexText{width: 400px;height: 180px; font-size: 12px;}
	.about-title{margin-top: 40px;}
	/*#mainNav li a{display: inline;}*/
}

@media screen and (min-width:40em){
	#indexText{width: 500px;font-size: 12px;}
	
}

@media screen and (min-width:60em){
	#indexText{width: 550px;height: 200px; font-size: 18px;margin-left: 200px;}
	
}
@media screen and (min-width:64em){
	#indexText{margin-left: 330px;}
}













